@import url('https://fonts.google.com/specimen/Righteous?category=Display,Monospace&preview.text=12:34&preview.text_type=custom');
@import url('https://fonts.cdnfonts.com/css/digital-7-mono');

body {
    width: 100vw;
    height: 100vh;
    margin: 0%;
    color: black;
    font-weight: bold;

    display: grid;
    grid-template-rows: auto 8fr 6fr 4fr;
    grid-template-areas:    "buttonTopRow"
                            "setTimerContainer"
                            "timeTimerContainer"
                            "pointsContainer";
}

#buttonTopRow {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-area: buttonTopRow;
    padding-top: 1vh;
}

#buttonTopRow button {
    width: 18%;
}

.timerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Digital-7 Mono', sans-serif;
}

body p {
    margin: 0px;
}

.squadPointsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Digital-7 Mono', sans-serif;
}

#timeTimerContainer {
    grid-area: timeTimerContainer;
}

#setTimerContainer {
    grid-area: setTimerContainer;
}

#pointsContainer {
    grid-area: pointsContainer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: auto;
}

#timeStamp {
    font-size: 1000%;
}

#setStamp {
    font-size: 1500%;
}

.pointsParagraph {
    font-size: 500%;
}

#team1 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 20%;
}

#team2 {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 20%;
}

button {
    font-family: 'Righteous', monospace;
}
